/* h1, h2, h3, h4 {
  font-family: Alegreya, Georgia, Times, serif;
  margin: 50px;
} */

* {
    font-family: 'Ubuntu', serif!important;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, Tahoma, Verdana, sans-serif;
}

#outlined-basic {
    border-radius: 200px!important;
}